extends layout
block content
 h1 Author: #{author.name}
 p #{format(author.date_of_birth,'DD MMM, YYYY')} - #{format(author.date_of_death,'DD MMM, YYYY')}
 div(style='margin: 20px 0 0 20px')
  h4 Books
  dl
   each book in books
    dt
     a(href=book.url) #{book.title}
    dd #{book.summary}
   else
    p This author has no books
  