extends layout
block content
 h1= title
 ul
  each author in author_list
   li
    a(href=author.url) #{author.name}
    |&nbsp;(#{format(author.date_of_birth,'DD MMM, YYYY')} - #{format(author.date_of_death,'DD MMM, YYYY')})
  else
   li there is no authors