extends layout
block content
 h1=title
 form(method='POST', action='')
  div.form-group
   label(for='title') Title:
   input#title.form-control(type='text', placeholder='title', name='title', required='true', value=(undefined===book ? '':book.title))
  div.form-group
   label(for='author') Author:
   select#author.form-control(placeholder='Author', required='true', name='author')   
    each author in authors
     if book
      option(value=author._id, selected=(book.author===author._id? 'selected' : '')) #{author.name} 
     else
      option(value=author._id) #{author.name}
  div.form-group
   label(for='summary') Summary:
   textarea#summary.form-control(type='textarea' placeholder='summary', required='true', name='summary') #{undefined===book ? '':book.summary}
  div.form-group
   label(for='isbn') ISBN:
   input#isbn.form-control(type='text', placeholder='ISBN', required='true', name='isbn', value=(undefined===book ? '':book.isbn))   
  div.form-group
   p #[strong Genre:]
   each genre in genres
    input.checkbox-input(type='checkbox', name='genres', id=genre._id, value=genre.id, checked=genre.checked)
    label(for=genre._id, style='margin-right: 15px;') #{genre.name}
  button.btn.btn-primary(type='submit') Submit
 if errors 
    ul
      for error in errors
        li #{error.msg}
 