extends layout
block content
 h1 #{title}: #{book.title}
 p #[strong Author:]
    a(href=book.author.url) #{book.author.name}
 p #[strong Summary:] #{book.summary}
 p #[strong ISBN:] #{book.isbn}
 p #[strong Genre:] 
    each val in book.genre
      a(href=val.url) #{val.name}
      |,
 div(style='margin-left:20px;margin-top:20px')
  h4 Copies
  each bi in book_instances
   hr
   if bi.status=='Available'
    p.text-success #{bi.status}
   else if bi.status=='Maintenance'
    p.text-danger #{bi.status}
   else
    p.text-warning #{bi.status}
   p #[strong Imprint:] #{bi.imprint}
   if bi.status!='Available'
        p #[strong Due back:] #{bi.due_back}
   p #[strong Id:]&nbsp;
    a(href=bi.url) #{bi._id}
  else
      p There are no copies of this book in the library.